ToNotey.xcodeproj/xcuserdata/*
ToNotey.xcworkspace/xcuserdata/*
Pods/Pods.xcodeproj/xcuserdata/*

*.DS_Store
*.xcbkptlist
*.xcuserstate
*.xcschememanagement.plist
/fastlane/report.xml
fastlane/test_output/report.html
fastlane/test_output/report.junit
